<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>KeepAlive</key>
		<false/>
		<key>Label</key>
		<string>de.infomac.lnkspd</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/local/sbin/lnkspd.sh</string>
			<string>-s</string>
			<string>00:01.0</string> <!-- pci controller slot 2 in MacPro3,1--> 
			<string>-t</string>
			<string>2</string> <!-- set to pci 2.0 -->
		</array>
		<key>LaunchOnlyOnce</key>
		<true/>
		<key>RunAtLoad</key>
		<true/>
	</dict>
</plist>
